<div class="b-products-item p-rel ovh uk-thumbnail cur-p">

    <div class="b-products-item-img ovh p-rel">
        <span class="b-sale-label ttu">sale</span>
        <span class="b-new-label ttu">new</span>
        <a href="#" id="prod-item-link">
            <img src="http://placehold.it/1000x1000" alt="">
        </a>
    </div>
    <div class="b-products-item-caption tal">
        <div class="fx-column">
            <a href="#" class="txt-black mb10 db brand-hover">Lorem ipsum dolor sitamet.</a>
            <p class="b-products-item-caption-text hidden">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur eum excepturi reiciendis. Consequuntur doloremque enim nulla reprehenderit soluta, totam! Ab asperiores deleniti excepturi impedit itaque minima recusandae repellendus repudiandae ullam.
            </p>
            {% include "../widgets/b-star-evaluation.twig" %}</div>
        <div class="fx-justify fx-items-end">
            <div class="fx-justify">
                <p class="txt-pink mr20">$27.00</p>
                <p class="txt-grey td-th">$27.00</p>
            </div>
            <div class="b-products-item-caption-icons">
                <a class="uk-icon-button fz14 uk-icon-shopping-cart" href=""></a>
                <a class="uk-icon-button fz14 uk-icon-refresh" href=""></a>
                <a class="uk-icon-button fz14 uk-icon-heart-o" href=""></a>
            </div>
        </div>
    </div>
</div>