<div class="b-blog-categories page-content__sidebar-item-wrapper">
    <div class="page-content__sidebar-item__title">
        <p class="fz16 ttu">BLOG CATEGORIES</p>
    </div>
    <div class="page-content__sidebar-item__content">
        <div class="page-content__sidebar-item">
            <ul class="b-categories-links">
                <li class="b-categories-links-item">
                    <a href="" class="b-categories-links-item__link">Cosmetics</a>
                </li>
                <li class="b-categories-links-item">
                    <a href="" class="b-categories-links-item__link">Electronics</a>
                </li>
                <li class="b-categories-links-item">
                    <a href="" class="b-categories-links-item__link">Fashion</a>
                </li>
                <li class="b-categories-links-item">
                    <a href="" class="b-categories-links-item__link">Jewellery</a>
                </li>
            </ul>
        </div>
    </div>

</div>