<div class="b-sidebar-blog-tags page-content__sidebar-item-wrapper">
    <div class="page-content__sidebar-item__title">
        <p class="fz16 ttu">BLOG TAGS</p>
    </div>
    <div class="page-content__sidebar-item__content">
        <div class="page-content__sidebar-item blog-tags">
            <div class="uk-button-group">
                <a href="#" class="btn white-btn fz11">Lorem</a>
                <a href="#" class="btn white-btn fz11">Lorem</a>
            </div>
        </div>
    </div>
</div>