<div class="b-sidebar-search-in-blog page-content__sidebar-item-wrapper">
    <div class="page-content__sidebar-item__title">
        <p class="fz16 ttu">SEARCH IN BLOG</p>
    </div>
    <div class="page-content__sidebar-item__content">
        <div class="page-content__sidebar-item">
            <form class="uk-search no-icon tal md-fluid" data-uk-search="{source:'my-results.json'}">
                <div class="input-wrapper md-fluid">
                    <input class="uk-search-field fluid" type="search" placeholder="">
                </div>
                <button class="ttu btn blue-btn dib">search</button>

            </form>
        </div>
    </div>

</div>