<div class="advantages-widget">
    <div class="uk-grid uk-grid-collapse" data-uk-grid-match>
        <div class="advantages-widget-item uk-width-1-2 uk-width-medium-1-4">
            <span class="uk-icon-truck"></span>
            <p class="txt-black mb15">free support</p>
            <p class="txt-black">24/7 customer support</p>
        </div>
        <div class="advantages-widget-item uk-width-1-2 uk-width-medium-1-4">
            <span class="uk-icon-headphones"></span>
            <p class="txt-black mb15">free support</p>
            <p class="txt-black">24/7 customer support</p>
        </div>
        <div class="advantages-widget-item uk-width-1-2 uk-width-medium-1-4">
            <span class="uk-icon-refresh"></span>
            <p class="txt-black mb15">free support</p>
            <p class="txt-black">24/7 customer support</p>
        </div>
        <div class="advantages-widget-item uk-width-1-2 uk-width-medium-1-4">
            <span class="uk-icon-paypal"></span>
            <p class="txt-black mb15">free support</p>
            <p class="txt-black">24/7 customer support</p>
        </div>
    </div>
</div>