<div class="dib vam b-star-evaluation">
    <span class="uk-icon uk-icon-star"></span>
    <span class="uk-icon uk-icon-star"></span>
    <span class="uk-icon uk-icon-star"></span>
    <span class="uk-icon uk-icon-star"></span>
    <span class="uk-icon uk-icon-star-o"></span>
</div>