<div class="b-breadcrumb">
    <div class="uk-container uk-container-center">
        <div class="breadcrumb-wrapper">
            <ul class="uk-breadcrumb">
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li class="uk-active"><span>home</span></li>
            </ul>
        </div>
    </div>
</div>