{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}

    <div class="b-breadcrumb">
        <div class="uk-container uk-container-center">
            <div class="breadcrumb-wrapper">
                <ul class="uk-breadcrumb">
                    <li><a href="">home</a></li>
                    <li><a href="">home</a></li>
                    <li class="uk-active"><span>home</span></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="page-content">
        <div class="uk-container uk-container-center">
            <div class="b-goods mb40">
                <div class="uk-grid" data-uk-grid="{gutter:30}">
                    <div class="b-goods__presentation uk-width-small-1-1 uk-width-medium-1-2">
                        <div class="b-goods__presentation-miniatures">
                            <a href="http://dummyimage.com/725x845" class="b-goods__presentation-miniatures-item"
                               data-lightbox-type="image"
                               title="Tournament Low in Tan"
                               data-uk-lightbox="{group:'group1'}">
                                <img src="http://dummyimage.com/725x845" alt="">
                            </a>
                            <a href="http://dummyimage.com/725x845" class="b-goods__presentation-miniatures-item"
                               data-lightbox-type="image"
                               title="Tournament Low in Tan"
                               data-uk-lightbox="{group:'group1'}">
                                <img src="http://dummyimage.com/725x845" alt="">
                            </a>
                            <a href="http://dummyimage.com/725x845" class="b-goods__presentation-miniatures-item"
                               data-lightbox-type="image"
                               title="Tournament Low in Tan"
                               data-uk-lightbox="{group:'group1'}">
                                <img src="http://dummyimage.com/725x845" alt="">
                            </a>
                        </div>
                        <a href="http://dummyimage.com/725x845" class="b-goods__presentation__big-img p-rel ovh"
                           data-lightbox-type="image"
                           title="Tournament Low in Tan"
                           data-uk-lightbox="{group:'group1'}">
                            <img src="http://dummyimage.com/725x845" alt="">
                            <span class="b-new-label ttu">new</span>
                        </a>

                    </div>
                    <div class="b-goods__info uk-width-small-1-1 uk-width-medium-1-2">
                        <div class="b-goods__info-header">
                            <p class="fz18 mb15 ttu txt-black">Lorem ipsum dolor sit amet.</p>
                            <div class="fx-start md-fx-column smb20 md-mb10">
                                <div class="mr25 md-mb10">
                                    <span class="uk-icon-star"></span>
                                    <span class="uk-icon-star"></span>
                                    <span class="uk-icon-star"></span>
                                    <span class="uk-icon-star"></span>
                                    <span class="uk-icon-star"></span>
                                    <span class="uk-icon-star-o"></span>
                                </div>
                                <p class="txt-black ">
                                    <a href="#" class="txt-black brand-hover">1 reviews</a> |
                                    <a href="#" class="txt-black brand-hover">Write your review</a>
                                </p>
                            </div>
                            <div class="mb10">
                                <p class="txt-black dib vam fz14">
                                    Availability:
                                </p>
                                <p class="txt-grey dib vam">In stock</p>
                            </div>
                            <div class="mb15">
                                <p class="txt-black fz14 dib vam mr10">Reference:
                                <p class="txt-grey dib vam">demo_12</p>
                            </div>
                            <div class="mb20">
                                <p class="txt-black fz14 dib vam mr10">Condition:
                                <p class="txt-grey dib vam">New product</p>
                            </div>
                            <div class="b-goods__info-header-prices fx-start">
                                <p class="txt-pink fz22">$46.99</p>
                                <p class="fz18 txt-black td-th">$50.99</p>
                                <p class="fz18 txt-black">-$4.00</p>
                            </div>
                        </div>
                        <div class="info__content content">
                            <div class="content__form form">
                                <div class="form__block fx-start">
                                    <label for="" class="txt-black fz14">Size</label>
                                    <select class="selectBox">
                                        <option value="">Mdfdfd</option>
                                        <option value="">One size</option>
                                    </select>
                                </div>
                                <div class="form__block fx-start">
                                    <label for="" class="txt-black fz14">Size</label>
                                    <select class="selectBox">
                                        <option value="">36</option>
                                        <option value="">28</option>
                                    </select>
                                </div>
                                <div class="form__block fx-start">
                                    <label for="" class="txt-black fz14">Color</label>
                                    <input type="radio" name="rad" class="radio orange">
                                    <input type="radio" name="rad" class="radio yellow">
                                </div>
                            </div>
                            <div class="content__sharing-buttons">
                                    <a href="#" class="dib btn empty-btn">
                                        <i class="di uk-icon-heart-o"></i>
                                        Add to wishlist</a>
                                    <a href="#" class="dib btn empty-btn">
                                        <i class="di uk-icon-send"></i>
                                        Send to a friend</a>
                                    <a href="#" class="dib btn empty-btn">
                                        <i class="di uk-icon-print"></i>
                                        Print</a>
                            </div>
                        </div>
                        <div class="info__social-buttons">
                            <button href="#" class="uk-icon-button uk-icon-twitter">Twitter</button>
                            <button href="#" class="uk-icon-button uk-icon-facebook">Share</button>
                            <button href="#" class="uk-icon-button uk-icon-google-plus">Google+</button>
                            <button href="#" class="uk-icon-button uk-icon-pinterest">Pinterest</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-product-full-review">
                <div class="review__title mb20">
                    <p class="ttu txt-blue fz16">reviews</p>
                </div>
                <div class="review__content tal">
                    <div class="mb20">
                        <div class="fx-start shift-15 mb10">
                            <p class="txt-bold fz14">Jullys</p>
                            {% include "widgets/b-star-evaluation.twig" %}
                            <p class="txt-grey">
                                09/26/2016
                            </p>
                        </div>
                        <p class="txt-black txt-bold mb10">Nemo enim ipsam voluptatem</p>
                        <p class="txt-black mb10">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        </p>
                    </div>
                    <a href="#" class="dib btn white-brand-btn ttu fz13">Write your review!</a>
                </div>
            </div>
            <div class="b-related-products-slider products-slider">
                <div class="b-divider p-rel">
                    <span class="b-divider-title ttu">RELATED PRODUCTS</span>
                </div>
                <div class="b-related-products-slider__content uk-slidenav-position p-rel" data-uk-slider>
                    <div class="uk-slider-container">
                        <ul class="uk-slider uk-grid-width-1-1 uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4"
                            data-uk-grid="{gutter: 30}">
                            {% for i in 1..10 %}
                                <li>{% include "elements/b-products-item.twig" %}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous"
                       data-uk-slider-item="previous"></a>
                    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next"></a>
                </div>
            </div>
            {% include "widgets/advantages-widget.twig" %}
        </div>
    </div>
{% endblock %}